* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
fieldset {
    border: 0;
}

a {
    text-decoration: none;
    /* Quita el subrayado */
    color: inherit;
    /* Hace que tome el color del elemento padre */
}